body, html {
    background-color: #eee9e0;
    height: 100%;
}
.intro p { color:#444127;
    font-family: "Nunito", sans-serif, 'Brush Script MT', cursive;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.intro h1 {color: #444127;
font-size: 3em;
text-align: center;

}
.hero-img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Marniespetcare/images/ted.jpg);
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.button {
transform: scale(1);
background-color: #E3B373; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 22px;
}


.hero-txt {
    font-family: "Nunito", sans-serif, 'Brush Script MT', cursive;
    text-align: center;
    font-size: 2em;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0DBB1 ;
    text-shadow: 4px 4px 4px #181818;
    margin: 0.3em;
}

  .nunito h1 {
    font-family: "Nunito", sans-serif, 'Brush Script MT', cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .foot { background-color: white;
height: 100px;}